* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#table_show_btn {
  margin: 2rem 2rem;
}

/* Button styling */
.custom-btn {
  background-color: rgba(0, 0, 0, 0.92);
  padding: 7px 30px;
  color: white;
  border: none;
  font-weight: bold;
}

.pagination_btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_btns .custom-btn {
  margin: 10px;
}

.disabled-btn {
  background-color: rgba(0, 0, 0, 0.68);
}

.dashboard_container {
  margin: 2rem;
}

#dash_table {
  margin-bottom: 2rem;
}

#logs_table {
  margin: 1rem auto 1rem auto;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

#logs_table td,
#logs_table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#logs_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}

.sort_icon {
  cursor: pointer;
}

.modal_table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.modal_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.modal_table tr:hover {
  background-color: #ddd;
}
